@font-face {
	font-family: 'gotham_xlight';
	src: url('gotham_xlight.eot');
	src: local('☺'), url('gotham_xlight.woff') format('woff'), url('gotham_xlight.ttf') format('truetype'), url('gotham_xlight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham_medium';
	src: url('gotham_medium.eot');
	src: local('☺'), url('gotham_medium.woff') format('woff'), url('gotham_medium.ttf') format('truetype'), url('gotham_medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'gotham_book';
	src: url('gotham_book.eot');
	src: local('☺'), url('gotham_book.woff') format('woff'), url('gotham_book.ttf') format('truetype'), url('gotham_book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham_bold';
	src: url('gotham_bold.eot');
	src: local('☺'), url('gotham_bold.woff') format('woff'), url('gotham_bold.ttf') format('truetype'), url('gotham_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gotham_black';
	src: url('gotham_black.eot');
	src: local('☺'), url('gotham_black.woff') format('woff'), url('gotham_black.ttf') format('truetype'), url('gotham_black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*/